.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
